

.contact-container {
  min-height: calc(100vh - 100px); 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: white;
}

/* Contact Box Styling */
.contact-boxx {
  width: 100%;
  max-width: 500px;
  background-color: rgba(31, 31, 31, 1);
  color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Input and Textarea Styling */
.form-control {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
  margin:10px 0px 10px 0px;


}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-control:focus {
  border-color: #6a0dad;
  outline: none;
}

/* Button Styling */
.btn-primary {
  background-color: #6a0dad;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #7a22e6;
  transition: 0.3s ease;
}

/* Form Status */
.form-status {
  margin-top: 15px;
  text-align: center;
  color: #ccc;
}

/* Footer Margin Fix */
footer {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  color: #fff;
  background-color: #111;
}
